{% load static %}
		<footer>
			Selecione opções com o teclado ao pressionar 1, 2, 3 ou 4. Confirme sua escolha com ENTER.
		</footer>
		
		<script type="text/javascript" src="{% static 'lolzin/js/jquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'lolzin/js/jquery-ui.js' %}"></script>
		<script type="text/javascript" src="{% static 'lolzin/js/q_select.js' %}"></script>
		<script type="text/javascript" src="{% static 'lolzin/js/TimeCircles.js' %}"></script>
		<script type="text/javascript" src="{% static 'lolzin/js/timer.js' %}"></script>
		<script type="text/javascript" src="{% static 'lolzin/js/signup_tooltip.js' %}"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		
		
		<link rel="stylesheet" type="text/css" href="{% static 'lolzin/css/reset.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'lolzin/css/materialize.css' %}" />

		
	</body>
</html>