<html>
	<head>
		{% load staticfiles %}

		<title>LoL Quiz</title>

		<meta name="charset" charset="UTF-8" />
		<meta name="keywords" content="lol, lolzin, league of legends, quiz" />
		<meta name="description" content="Um Quiz sobre League of Legends desenvolvido para a cadeira do F30." />
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{% static 'lolzin/css/reset.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'lolzin/css/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'lolzin/css/TimeCircles.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'lolzin/css/jquery-ui.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'lolzin/css/jquery-ui.structure.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'lolzin/css/jquery-ui.theme.css' %}" />
	</head>

	<body>
		<header>
			<nav class="menu" >
				<a href={% url 'basic' %}>Página Inicial</a>
				<a href={% url 'ranking' %} >Ranking</a>
				{% if user.is_authenticated %}				
					<a href={% url "logout" %} >Sair</a> 
					{% if imgsrcliga %}
						<img src="{% static imgsrcliga %}" style="vertical-align: bottom; max-height: 32px" /> 
					{% endif %}
				{% else %}
					<a href={% url "signup" %}>Cadastrar</a>
					<a href={% url "login" %} >Login</a> 
				{% endif %}

			</nav>
		</header>