{% extends "lolzin/base.html" %}
{% load staticfiles %}

{% block page_title %} Meu perfil {% endblock page_title %}

{% block active_cp %} "active" {% endblock active_cp %}
{% block active_mcp %} "active" {% endblock active_mcp %}

{% block main_content %}
	<section class="blue-grey darken-4 section-wrapper">
		<div class="container">
			<div class="row">
				<h2 class="center">Perfil: {{ profile_user }}</h2>

				<div class="card blue-grey darken-2">
					<div class="card-content">
						ALO
					</div>
				</div>
				
			</div>
		</div>
	</section>
{% endblock main_content %}

{% block footer %}
	<div class="footer-copyright blue-grey darken-3">
		<div class="container">
			© Felipe Aragão e Nilo Araújo - 2016
		</div>
	</div>
{% endblock footer %}