{% extends "lolzin/base.html" %}
{% load staticfiles %}

{% block page_title %} Painel de Controle {% endblock page_title %}

{% block active_cp %} "active" {% endblock active_cp %}
{% block active_mcp %} "active" {% endblock active_mcp %}

{% block main_content %}
	<section class="blue-grey darken-4 section-wrapper">
		<div class="container">
			<div class="row">
				<h2 class="center">Painel de Controle</h2>
			</div>
		</div>
	</section>
{% endblock main_content %}

{% block footer %}
	<div class="footer-copyright blue-grey darken-3">
		<div class="container">
			© Felipe Aragão e Nilo Araújo - 2016
		</div>
	</div>
{% endblock footer %}