{% extends "base.html" %}

{% block page_title %}O Códex{% endblock page_title %}

{% block main_content %}
	<div class="row">
		<section id="quiz-intro" class="blue-grey darken-4">
			<div class=" col s12 m7 l8 container">
				<h2>O Códex</h2>

				<p>O quanto você realmente sabe sobre League of Legends? Será que sua mente está afiada para superar os nossos desafios, Invocador?</p>

				<p>Venha! E batalhe pelo seu destino.</p>
			</div>

			<div class="col s12 m5 l4 container">
				
			</div>
		</section>
	</div>
{% endblock main_content %}